Package: com.duislingr.runmario
Name: RunMario
Depends: mobilesubstrate, preferenceloader, firmware (>= 8.0)
Priority: optional
Version: 1.1.2
Architecture: iphoneos-arm
Description: allow playing SuperMarioRun on jailbreak device + unlock all worlds and gives coins.
Maintainer: Du'Islingr
Author: Du'Islingr
Section: Tweaks
